@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');
@import "variables.css";
@import "responsive.css";

@font-face {
    font-family: "Liberation Mono", sans-serif;
    src: url("./fonts/LiberationMono-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

body, html, #root, .App {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: var(--background);
    color: var(--main-font-color);
    font-family: var(--main-font);
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

.logo {
    width: 52px;
}

.regular-green {
    color: var(--regular-green);
}

.components-gray {
    color: var(--components-gray);
}

.inline {
    display: inline-block;
}

.main-header {
    width: 100%;
    height: 10%;
    position: fixed;
    background: var(--background);
    padding: 2px;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-items: center;
    justify-content: space-between;
    gap: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 20%);
    z-index: 1000000;
}

.logo-container {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.main-header__icons svg {
    fill: white;
    padding: 15px;
    height: 32px;
}

.framework-name {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;

    align-items: center;
    width: fit-content;
    color: var(--main-font-color)
}

div#search {
    border-radius: 10px;
    outline: none;
    border: none;
    background: var(--components-light-gray);
    color: var(--darker-font);
    padding: 6px;
    height: 20px;
    display: inline-block;
    margin: auto 0 auto;
    cursor: pointer;
    width: 75px;
    transition: width 350ms linear;
}

div#search:hover {
    width: 100px;
}

main {
    width: 100%;
    height: 100%;
    padding-top: 100px;
}

.project-section {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-section a, .project-section a:hover {
    color: var(--background);
}

.project-section h1 {
    font-size: clamp(2rem + 2.50vw, 4rem, 1rem);
    background: var(--main-title-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
    padding: 0;
}

.project-section h4 {
    font-size: 16px;
    font-family: "Inter Light", sans-serif;
    color: var(--darker-font);
}

.features-section {
    width: 100%;
    min-height: fit-content;
}

.features {
    width: 100%;
    height: fit-content;
    display: grid;
    gap: 20px;
    justify-items: center;
}

.feature {
    background: var(--components-gray);
    display: grid;
    padding: 10px;
    grid-template-rows: 20% 80%;
    gap: 0;
    border-radius: 10px;
    height: 120px;
    width: 80%;
}

.feature h1 {
    font-size: 24px;
    margin: 0;
    color: var(--main-font-color);
}

.feature span {
    color: var(--darker-font);
    font-size: 16px;
    padding: 0 0 0 10px;
}

pre, code {
    font-size: 16px;
    line-height: 21px;
    font-family: "Liberation Mono", sans-serif !important;
    font-weight: 400 !important;
}

section.framework-shorthand {
    display: grid;
    padding: 40px;
    grid-template-rows: max-content max-content;
    grid-template-columns: 100%;
    gap: 10px;
}

.code-snippet, pre {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content 90%;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
}

.code-snippet pre {
    background: var(--components-gray) !important;
    font-size: 18px;
    margin-top: 0;
    height: fit-content;
}

.code-snippet .title {
    background: var(--components-gray-darker);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    max-width: 100%;
    padding: 7px;
}

button {
    width: fit-content;
    height: fit-content;
    padding: 10px;
    font-size: 18px;
    border: none;
    outline: none;
    margin: 10px;
    border-radius: 7px;
    background: var(--darker-green);
    transition: background-color 300ms ease-in;
    cursor: pointer;
}

button:hover {
    background: var(--regular-green);
}

a, a:hover, a:visited {
    cursor: pointer;
    text-decoration: none;
    transition: color 200ms ease;
}

a:hover {
    color: var(--darker-green);
}

footer {
    border-top: 1px solid rgba(255, 255, 255, 20%);
    padding: 50px;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    text-align: center;
    font-size: 18px;
}

footer a {
    color: var(--main-font-color);
}

footer section {
    margin: 0;
}

footer .author {
    width: 100%;
    display: flex;
    justify-content: center;
}

.author span {
    border: 2px solid var(--regular-blue);
    padding: 5px;
    border-radius: 10px;
    align-self: flex-end;
    font-size: 14px;
}

.muli-code-snippet__title {
    cursor: pointer;
    transition: color 200ms ease;
    user-select: none;
}

.muli-code-snippet__title:hover {
    color: var(--regular-blue);
}

.muli-code-snippet__title.active {
    color: var(--regular-blue);
}

.multi-code-snippet .title {
    overflow: auto;
}

.multi-code-snippet .title span {
    margin-right: 20px;
}

.regular-blue {
    color: var(--regular-blue);
}

.snippet-description {
    transition: all 200ms ease;
    height: max-content;
    display: block;
    position: relative;
}

nav {
    z-index: 10000000;
    background: var(--background);
    border: 1px solid var(--darker-green);
    display: block;
    position: fixed;
    top: 80px;
    right: 20px;
    border-radius: 5px;
    width: 80%;
}

ul {
    list-style: none;
    font-size: 20px;
}

li {
    line-height: 1.4;
    user-select: none;
}

li a {
    color: var(--main-font-color);
}

pre {
    white-space: pre;
}

.docs-view pre {
    padding: 10px;
    border-radius: 10px;
    width: fit-content;
}

.docs-view {
    height: fit-content;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Inter Regular", sans-serif;
    font-weight: 600;
    letter-spacing: -.02em;
}

h2 {
    font-size: 24px;
}

p, span {
    font-family: "Inter Regular", sans-serif;
    font-weight: 400;
    font-size: 16px;
}
