@media screen and (min-width: 724px) {
    .features {
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
    }

    section.framework-shorthand {
        grid-template-rows: 1fr !important;
        grid-template-columns: 40% 60% !important;
        gap: 10px;
    }
}

@media screen and (min-width: 1024px) {
    .features {
        grid-template-rows: repeat(1, 1fr);
        grid-template-columns: repeat(4, 1fr);
        gap: 0;
    }

    pre, code {
        font-size: 18px;
    }

    .fast-development-time {
        margin: 0 0 0 150px;
        width: 50%;
    }

    .framework-shorthand pre {
    }
}