@media screen and (min-width: 724px) {
    .features {
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
    }

    section.framework-shorthand {
        grid-template-rows: 1fr !important;
        grid-template-columns: 40% 60% !important;
        gap: 10px;
    }

    footer {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 1fr !important;
        height: 15%;
    }

    footer .author {
        grid-row: 2/3;
        grid-column: 2/3;
    }

    .docs-view pre {
        width: fit-content !important;
        min-width: 70% !important;
    }
}

@media screen and (min-width: 1024px) {
    .features {
        grid-template-rows: repeat(1, 1fr);
        grid-template-columns: repeat(4, 1fr);
        gap: 0;
    }

    pre, code {
        font-size: 18px;
    }

    .fast-development-time {
        margin: 0 0 0 150px;
        width: 50%;
    }

    nav {
        display: block !important;
    }

    .main-header {
        position: fixed;
    }

    .docs__main {
        width: fit-content;
        margin-left: var(--nav-width) !important;
        padding: var(--header-height) calc(var(--on-this-page-width) + 40px) 0 20px !important;
    }

    .on-this-page {
        display: grid !important;
    }

    footer {
        position: relative;
        margin-left: var(--nav-width);
    }
}