:root {
    --background: #191818;
    --main-font: 'Inter Regular', sans-serif;
    --main-font-color: #fff;
    --regular-green: #9AD14B;
    --components-gray: #333333;
    --components-light-gray: #413F3F;
    --darker-font: #BFBFBF;
}
